/**
 * List of all the CSS properties that work indistincly from any breakpoint
 *
 * @format
*/
.align-content--stretch {
  align-content: stretch;
}
.align-content--flex-start {
  align-content: flex-start;
}
.align-content--flex-end {
  align-content: flex-end;
}
.align-content--center {
  align-content: center;
}
.align-content--start {
  align-content: start;
}
.align-content--end {
  align-content: end;
}
.align-content--normal {
  align-content: normal;
}
.align-content--baseline {
  align-content: baseline;
}
.align-content--first-baseline {
  align-content: first baseline;
}
.align-content--last-baseline {
  align-content: last baseline;
}
.align-content--space-between {
  align-content: space-between;
}
.align-content--space-around {
  align-content: space-around;
}
.align-content--space-evenly {
  align-content: space-evenly;
}
.align-content--safe-center {
  align-content: safe center;
}
.align-content--unsafe-center {
  align-content: unsafe center;
}
.align-items--stretch {
  align-items: stretch;
}
.align-items--flex-start {
  align-items: flex-start;
}
.align-items--flex-end {
  align-items: flex-end;
}
.align-items--center {
  align-items: center;
}
.align-items--baseline {
  align-items: baseline;
}
.align-items--start {
  align-items: start;
}
.align-items--end {
  align-items: end;
}
.align-items--normal {
  align-items: normal;
}
.align-items--first-baseline {
  align-items: first baseline;
}
.align-items--last-baseline {
  align-items: last baseline;
}
.align-items--safe-center {
  align-items: safe center;
}
.align-items--unsafe-center {
  align-items: unsafe center;
}
.align-self--auto {
  align-self: auto;
}
.align-self--normal {
  align-self: normal;
}
.align-self--center {
  align-self: center;
}
.align-self--start {
  align-self: start;
}
.align-self--end {
  align-self: end;
}
.align-self--self-start {
  align-self: self-start;
}
.align-self--self-end {
  align-self: self-end;
}
.align-self--flex-start {
  align-self: flex-start;
}
.align-self--flex-end {
  align-self: flex-end;
}
.align-self--baseline {
  align-self: baseline;
}
.align-self--first-baseline {
  align-self: first baseline;
}
.align-self--last-baseline {
  align-self: last baseline;
}
.align-self--stretch {
  align-self: stretch;
}
.align-self--safe-center {
  align-self: safe center;
}
.align-self--unsafe-center {
  align-self: unsafe center;
}
.accent-color--blue {
  accent-color: var(--blue);
}
.accent-color--green {
  accent-color: var(--green);
}
.accent-color--yellow {
  accent-color: var(--yellow);
}
.accent-color--orange {
  accent-color: var(--orange);
}
.accent-color--red {
  accent-color: var(--red);
}
.accent-color--pink {
  accent-color: var(--pink);
}
.accent-color--purple {
  accent-color: var(--purple);
}
.accent-color--black {
  accent-color: var(--black);
}
.accent-color--darkest-gray {
  accent-color: var(--darkest-gray);
}
.accent-color--dark-gray {
  accent-color: var(--dark-gray);
}
.accent-color--gray {
  accent-color: var(--gray);
}
.accent-color--light-gray {
  accent-color: var(--light-gray);
}
.accent-color--lighter-gray {
  accent-color: var(--lighter-gray);
}
.accent-color--lightest-gray {
  accent-color: var(--lightest-gray);
}
.accent-color--white {
  accent-color: var(--white);
}
.appearance--none {
  appearance: none;
}
.appearance--button {
  appearance: button;
}
.appearance--textfield {
  appearance: textfield;
}
.appearance--menulist {
  appearance: menulist;
}
.appearance--menulist-button {
  appearance: menulist-button;
}
.appearance--searchfield {
  appearance: searchfield;
}
.appearance--searchfield-cancel-button {
  appearance: searchfield-cancel-button;
}
.appearance--searchfield-decoration {
  appearance: searchfield-decoration;
}
.appearance--searchfield-results-button {
  appearance: searchfield-results-button;
}
.appearance--searchfield-results-decoration {
  appearance: searchfield-results-decoration;
}
.appearance--checkbox {
  appearance: checkbox;
}
.appearance--radio {
  appearance: radio;
}
.border-radius--0 {
  border-radius: 0;
}
.border-radius--2 {
  border-radius: 2px;
}
.border-radius--4 {
  border-radius: 4px;
}
.border-radius--6 {
  border-radius: 6px;
}
.border-radius--8 {
  border-radius: 8px;
}
.border-radius--10 {
  border-radius: 10px;
}
.box-sizing--content-box {
  box-sizing: content-box;
}
.box-sizing--border-box {
  box-sizing: border-box;
}
.caption-side--top {
  caption-side: top;
}
.caption-side--bottom {
  caption-side: bottom;
}
.caret-color--blue {
  caret-color: var(--blue);
}
.md-clear-left {
  clear: left;
}
.md-clear-right {
  clear: right;
}
.caret-color--green {
  caret-color: var(--green);
}
.caret-color--yellow {
  caret-color: var(--yellow);
}
.caret-color--orange {
  caret-color: var(--orange);
}
.caret-color--red {
  caret-color: var(--red);
}
.caret-color--pink {
  caret-color: var(--pink);
}
.caret-color--purple {
  caret-color: var(--purple);
}
.caret-color--black {
  caret-color: var(--black);
}
.caret-color--darkest-gray {
  caret-color: var(--darkest-gray);
}
.caret-color--dark-gray {
  caret-color: var(--dark-gray);
}
.caret-color--gray {
  caret-color: var(--gray);
}
.caret-color--light-gray {
  caret-color: var(--light-gray);
}
.caret-color--lighter-gray {
  caret-color: var(--lighter-gray);
}
.caret-color--lightest-gray {
  caret-color: var(--lightest-gray);
}
.caret-color--white {
  caret-color: var(--white);
}
.clear--left {
  clear: left;
}
.clear--right {
  clear: right;
}
.color--blue {
  color: var(--blue);
}
.color--green {
  color: var(--green);
}
.color--yellow {
  color: var(--yellow);
}
.color--orange {
  color: var(--orange);
}
.color--red {
  color: var(--red);
}
.color--pink {
  color: var(--pink);
}
.color--purple {
  color: var(--purple);
}
.color--black {
  color: var(--black);
}
.color--darkest-gray {
  color: var(--darkest-gray);
}
.color--dark-gray {
  color: var(--dark-gray);
}
.color--gray {
  color: var(--gray);
}
.color--light-gray {
  color: var(--light-gray);
}
.color--lighter-gray {
  color: var(--lighter-gray);
}
.color--lightest-gray {
  color: var(--lightest-gray);
}
.color--white {
  color: var(--white);
}
.cursor--auto {
  cursor: auto;
}
.cursor--default {
  cursor: default;
}
.cursor--none {
  cursor: none;
}
.cursor--context-menu {
  cursor: context-menu;
}
.cursor--help {
  cursor: help;
}
.cursor--pointer {
  cursor: pointer;
}
.cursor--progress {
  cursor: progress;
}
.cursor--wait {
  cursor: wait;
}
.cursor--cell {
  cursor: cell;
}
.cursor--crosshair {
  cursor: crosshair;
}
.cursor--text {
  cursor: text;
}
.cursor--vertical-text {
  cursor: vertical-text;
}
.cursor--alias {
  cursor: alias;
}
.cursor--copy {
  cursor: copy;
}
.cursor--move {
  cursor: move;
}
.cursor--no-drop {
  cursor: no-drop;
}
.cursor--not-allowed {
  cursor: not-allowed;
}
.cursor--e-resize {
  cursor: e-resize;
}
.cursor--n-resize {
  cursor: n-resize;
}
.cursor--ne-resize {
  cursor: ne-resize;
}
.cursor--nw-resize {
  cursor: nw-resize;
}
.cursor--s-resize {
  cursor: s-resize;
}
.cursor--se-resize {
  cursor: se-resize;
}
.cursor--sw-resize {
  cursor: sw-resize;
}
.cursor--w-resize {
  cursor: w-resize;
}
.cursor--ew-resize {
  cursor: ew-resize;
}
.cursor--ns-resize {
  cursor: ns-resize;
}
.cursor--nesw-resize {
  cursor: nesw-resize;
}
.cursor--nwse-resize {
  cursor: nwse-resize;
}
.cursor--col-resize {
  cursor: col-resize;
}
.cursor--row-resize {
  cursor: row-resize;
}
.cursor--all-scroll {
  cursor: all-scroll;
}
.cursor--zoom-in {
  cursor: zoom-in;
}
.cursor--zoom-out {
  cursor: zoom-out;
}
.cursor--grab {
  cursor: grab;
}
.cursor--grabbing {
  cursor: grabbing;
}
.cursor--vertical-resize {
  cursor: vertical-resize;
}
.cursor--horizontal-resize {
  cursor: horizontal-resize;
}
.cursor--not-allowed {
  cursor: not-allowed;
}
.cursor--no-underline {
  cursor: no-underline;
}
.cursor--dashed {
  cursor: dashed;
}
.cursor--dotted {
  cursor: dotted;
}
.cursor--solid {
  cursor: solid;
}
.cursor--double {
  cursor: double;
}
.cursor--groove {
  cursor: groove;
}
.cursor--ridge {
  cursor: ridge;
}
.cursor--inset {
  cursor: inset;
}
.cursor--outset {
  cursor: outset;
}
.cursor--initial {
  cursor: initial;
}
.cursor--inherit {
  cursor: inherit;
}
.direction--ltr {
  direction: ltr;
}
.direction--rtl {
  direction: rtl;
}
.direction--initial {
  direction: initial;
}
.direction--inherit {
  direction: inherit;
}
.display--block {
  display: block;
}
.display--inline {
  display: inline;
}
.display--inline-block {
  display: inline-block;
}
.display--flex {
  display: flex;
}
.display--inline-flex {
  display: inline-flex;
}
.display--grid {
  display: grid;
}
.display--inline-grid {
  display: inline-grid;
}
.display--table {
  display: table;
}
.display--table-cell {
  display: table-cell;
}
.display--table-row {
  display: table-row;
}
.display--none {
  display: none;
}
.display--initial {
  display: initial;
}
.display--inherit {
  display: inherit;
}
.empty-cells--show {
  empty-cells: show;
}
.empty-cells--hide {
  empty-cells: hide;
}
.empty-cells--inherit {
  empty-cells: inherit;
}
.flex-basis--auto {
  flex-basis: auto;
}
.flex-basis--content {
  flex-basis: content;
}
.fill--blue {
  fill: var(--blue);
}
.fill--green {
  fill: var(--green);
}
.fill--yellow {
  fill: var(--yellow);
}
.fill--orange {
  fill: var(--orange);
}
.fill--red {
  fill: var(--red);
}
.fill--pink {
  fill: var(--pink);
}
.fill--purple {
  fill: var(--purple);
}
.fill--black {
  fill: var(--black);
}
.fill--darkest-gray {
  fill: var(--darkest-gray);
}
.fill--dark-gray {
  fill: var(--dark-gray);
}
.fill--gray {
  fill: var(--gray);
}
.fill--light-gray {
  fill: var(--light-gray);
}
.fill--lighter-gray {
  fill: var(--lighter-gray);
}
.fill--lightest-gray {
  fill: var(--lightest-gray);
}
.fill--white {
  fill: var(--white);
}
.flex-basis--fill {
  flex-basis: fill;
}
.flex-basis--max-content {
  flex-basis: max-content;
}
.flex-basis--min-content {
  flex-basis: min-content;
}
.flex-basis--fit-content {
  flex-basis: fit-content;
}
.flex-direction--row {
  flex-direction: row;
}
.flex-direction--row-reverse {
  flex-direction: row-reverse;
}
.flex-direction--column {
  flex-direction: column;
}
.flex-direction--column-reverse {
  flex-direction: column-reverse;
}
.flex-flow--row {
  flex-flow: row;
}
.flex-flow--row-reverse {
  flex-flow: row-reverse;
}
.flex-flow--column {
  flex-flow: column;
}
.flex-flow--column-reverse {
  flex-flow: column-reverse;
}
.flex-flow--wrap {
  flex-flow: wrap;
}
.flex-flow--wrap-reverse {
  flex-flow: wrap-reverse;
}
.flex-flow--nowrap {
  flex-flow: nowrap;
}
.flex-wrap--nowrap {
  flex-wrap: nowrap;
}
.flex-wrap--wrap {
  flex-wrap: wrap;
}
.flex-wrap--wrap-reverse {
  flex-wrap: wrap-reverse;
}
.font-family--serif {
  font-family: var(--font-family-serif);
}
.font-family--sans-serif {
  font-family: var(--font-family-sans-serif);
}
.font-family--monospace {
  font-family: var(--font-family-mono);
}
.font-family--cursive {
  font-family: cursive;
}
.font-family--fantasy {
  font-family: fantasy;
}
.font-family--system {
  font-family: system-ui;
}
.font-family--inherit {
  font-family: inherit;
}
.font-kerning--auto {
  font-kerning: auto;
}
.font-kerning--normal {
  font-kerning: normal;
}
.font-kerning--none {
  font-kerning: none;
}
.font-optical-sizing--auto {
  font-optical-sizing: auto;
}
.font-optical-sizing--none {
  font-optical-sizing: none;
}
.font-size--8 {
  font-size: 8px;
}
.font-size--10 {
  font-size: 10px;
}
.font-size--12 {
  font-size: 12px;
}
.font-size--14 {
  font-size: 14px;
}
.font-size--16 {
  font-size: 16px;
}
.font-size--22 {
  font-size: 22px;
}
.font-size--24 {
  font-size: 24px;
}
.font-size--28 {
  font-size: 28px;
}
.font-size--32 {
  font-size: 32px;
}
.font-size--36 {
  font-size: 36px;
}
.font-size--45 {
  font-size: 45px;
}
.font-size--57 {
  font-size: 57px;
}
.font-stretch--ultra-condensed {
  font-stretch: ultra-condensed;
}
.font-stretch--extra-condensed {
  font-stretch: extra-condensed;
}
.font-stretch--condensed {
  font-stretch: condensed;
}
.font-stretch--semi-condensed {
  font-stretch: semi-condensed;
}
.font-stretch--normal {
  font-stretch: normal;
}
.font-stretch--semi-expanded {
  font-stretch: semi-expanded;
}
.font-stretch--expanded {
  font-stretch: expanded;
}
.font-stretch--extra-expanded {
  font-stretch: extra-expanded;
}
.font-stretch--ultra-expanded {
  font-stretch: ultra-expanded;
}
.font-stretch--wider {
  font-stretch: wider;
}
.font-stretch--narrower {
  font-stretch: narrower;
}
.font-style--normal {
  font-style: normal;
}
.font-style--italic {
  font-style: italic;
}
.font-style--oblique {
  font-style: oblique;
}
.font-style--inherit {
  font-style: inherit;
}
.font-variant-caps--normal {
  font-variant-caps: normal;
}
.font-variant-caps--small-caps {
  font-variant-caps: small-caps;
}
.font-variant-caps--all-small-caps {
  font-variant-caps: all-small-caps;
}
.font-variant-caps--petite-caps {
  font-variant-caps: petite-caps;
}
.font-variant-caps--all-petite-caps {
  font-variant-caps: all-petite-caps;
}
.font-variant-caps--unicase {
  font-variant-caps: unicase;
}
.font-variant-caps--titling-caps {
  font-variant-caps: titling-caps;
}
.font-weight--100 {
  font-weight: 100;
}
.font-weight--200 {
  font-weight: 200;
}
.font-weight--300 {
  font-weight: 300;
}
.font-weight--400 {
  font-weight: 400;
}
.font-weight--500 {
  font-weight: 500;
}
.font-weight--600 {
  font-weight: 600;
}
.font-weight--700 {
  font-weight: 700;
}
.font-weight--800 {
  font-weight: 800;
}
.font-weight--900 {
  font-weight: 900;
}
.font-weight--normal {
  font-weight: normal;
}
.font-weight--bold {
  font-weight: bold;
}
.font-weight--lighter {
  font-weight: lighter;
}
.font-weight--bolder {
  font-weight: bolder;
}
.font-weight--inherit {
  font-weight: inherit;
}
.gap--4 {
  gap: 4px;
}
.gap--8 {
  gap: 8px;
}
.gap--16 {
  gap: 16px;
}
.gap--32 {
  gap: 32px;
}
.gap--48 {
  gap: 48px;
}
.gap--64 {
  gap: 64px;
}
.grid-auto-columns--min-content {
  grid-auto-columns: min-content;
}
.hanging-punctuation--none {
  hanging-punctuation: none;
}
.hanging-punctuation--first {
  hanging-punctuation: first;
}
.hanging-punctuation--last {
  hanging-punctuation: last;
}
.hanging-punctuation--allow-end {
  hanging-punctuation: allow-end;
}
.hanging-punctuation--force-end {
  hanging-punctuation: force-end;
}
.height--100vh {
  height: 100vh;
}
.height--100 {
  height: 100%;
}
.height--auto {
  height: auto;
}
.height--inherit {
  height: inherit;
}
.height--initial {
  height: initial;
}
.height--unset {
  height: unset;
}
.height--max-content {
  height: max-content;
}
.height--min-content {
  height: min-content;
}
.image-orientation--none {
  image-orientation: none;
}
.image-orientation--flip {
  image-orientation: flip;
}
.image-orientation--from-image {
  image-orientation: from-image;
}
.image-rendering--auto {
  image-rendering: auto;
}
.image-rendering--crisp-edges {
  image-rendering: crisp-edges;
}
.image-rendering--pixelated {
  image-rendering: pixelated;
}
.justify-content--flex-start {
  justify-content: flex-start;
}
.justify-content--flex-end {
  justify-content: flex-end;
}
.justify-content--center {
  justify-content: center;
}
.justify-content--space-between {
  justify-content: space-between;
}
.justify-content--space-around {
  justify-content: space-around;
}
.justify-content--space-evenly {
  justify-content: space-evenly;
}
.justify-content--start {
  justify-content: start;
}
.justify-content--end {
  justify-content: end;
}
.justify-content--left {
  justify-content: left;
}
.justify-content--right {
  justify-content: right;
}
.justify-content--baseline {
  justify-content: baseline;
}
.justify-content--first-baseline {
  justify-content: first baseline;
}
.justify-content--last-baseline {
  justify-content: last baseline;
}
.justify-content--safe-start {
  justify-content: safe start;
}
.justify-content--safe-end {
  justify-content: safe end;
}
.justify-content--safe-center {
  justify-content: safe center;
}
.justify-content--unsafe-start {
  justify-content: unsafe start;
}
.justify-content--unsafe-end {
  justify-content: unsafe end;
}
.justify-content--unsafe-center {
  justify-content: unsafe center;
}
.justify-items--stretch {
  justify-items: stretch;
}
.justify-items--center {
  justify-items: center;
}
.justify-items--start {
  justify-items: start;
}
.justify-items--end {
  justify-items: end;
}
.justify-items--flex-start {
  justify-items: flex-start;
}
.justify-items--flex-end {
  justify-items: flex-end;
}
.justify-items--baseline {
  justify-items: baseline;
}
.justify-items--first-baseline {
  justify-items: first baseline;
}
.justify-items--last-baseline {
  justify-items: last baseline;
}
.justify-self--auto {
  justify-self: auto;
}
.justify-self--normal {
  justify-self: normal;
}
.justify-self--stretch {
  justify-self: stretch;
}
.justify-self--center {
  justify-self: center;
}
.justify-self--start {
  justify-self: start;
}
.justify-self--end {
  justify-self: end;
}
.justify-self--flex-start {
  justify-self: flex-start;
}
.justify-self--flex-end {
  justify-self: flex-end;
}
.justify-self--self-start {
  justify-self: self-start;
}
.justify-self--self-end {
  justify-self: self-end;
}
.justify-self--left {
  justify-self: left;
}
.justify-self--right {
  justify-self: right;
}
.justify-self--baseline {
  justify-self: baseline;
}
.justify-self--first-baseline {
  justify-self: first baseline;
}
.justify-self--last-baseline {
  justify-self: last baseline;
}
.left--0 {
  left: 0;
}
.left--4 {
  left: 4px;
}
.left--8 {
  left: 8px;
}
.left--12 {
  left: 12px;
}
.left--16 {
  left: 16px;
}
.left--32 {
  left: 32px;
}
.left--48 {
  left: 48px;
}
.left--64 {
  left: 64px;
}
.line-break--auto {
  line-break: auto;
}
.line-break--loose {
  line-break: loose;
}
.line-break--normal {
  line-break: normal;
}
.line-break--strict {
  line-break: strict;
}
.line-break--anywhere {
  line-break: anywhere;
}
.line-height--normal {
  line-height: normal;
}
.line-height--130 {
  line-height: 130%;
}
.line-height--150 {
  line-height: 150%;
}
.line-height--normal {
  line-height: normal;
}
.list-style-type--disc {
  list-style-type: disc;
}
.list-style-type--circle {
  list-style-type: circle;
}
.list-style-type--square {
  list-style-type: square;
}
.list-style-type--decimal {
  list-style-type: decimal;
}
.list-style-type--decimal-leading-zero {
  list-style-type: decimal-leading-zero;
}
.list-style-type--lower-roman {
  list-style-type: lower-roman;
}
.list-style-type--upper-roman {
  list-style-type: upper-roman;
}
.list-style-type--lower-alpha {
  list-style-type: lower-alpha;
}
.list-style-type--upper-alpha {
  list-style-type: upper-alpha;
}
.list-style-type--none {
  list-style-type: none;
}
.margin--0 {
  margin: 0;
}
.margin--4 {
  margin: 4px;
}
.margin--8 {
  margin: 8px;
}
.margin--16 {
  margin: 16px;
}
.margin--24 {
  margin: 24px;
}
.margin--32 {
  margin: 32px;
}
.margin--48 {
  margin: 48px;
}
.margin--64 {
  margin: 64px;
}
.margin--96 {
  margin: 96px;
}
.margin-block--auto {
  margin-block: 0;
}
.margin-block--0 {
  margin-block: 0;
}
.margin-block--4 {
  margin-block: 4px;
}
.margin-block--8 {
  margin-block: 8px;
}
.margin-block--16 {
  margin-block: 16px;
}
.margin-block--24 {
  margin-block: 24px;
}
.margin-block--32 {
  margin-block: 32px;
}
.margin-block--48 {
  margin-block: 48px;
}
.margin-block--64 {
  margin-block: 64px;
}
.margin-block--96 {
  margin-block: 96px;
}
.margin-block-end--0 {
  margin-block-end: 0;
}
.margin-block-end--4 {
  margin-block-end: 4px;
}
.margin-block-end--8 {
  margin-block-end: 8px;
}
.margin-block-end--16 {
  margin-block-end: 16px;
}
.margin-block-end--32 {
  margin-block-end: 32px;
}
.margin-block-end--48 {
  margin-block-end: 48px;
}
.margin-block-end--64 {
  margin-block-end: 64px;
}
.margin-block-end--96 {
  margin-block-end: 96px;
}
.margin-block-start--0 {
  margin-block-start: 0;
}
.margin-block-start--4 {
  margin-block-start: 4px;
}
.margin-block-start--8 {
  margin-block-start: 8px;
}
.margin-block-start--16 {
  margin-block-start: 16px;
}
.margin-block-start--32 {
  margin-block-start: 32px;
}
.margin-block-start--48 {
  margin-block-start: 48px;
}
.margin-block-start--64 {
  margin-block-start: 64px;
}
.margin-block-start--96 {
  margin-block-start: 96px;
}
.margin-bottom--0 {
  margin-bottom: 0;
}
.margin-bottom--4 {
  margin-bottom: 4px;
}
.margin-bottom--8 {
  margin-bottom: 8px;
}
.margin-bottom--16 {
  margin-bottom: 16px;
}
.margin-bottom--32 {
  margin-bottom: 32px;
}
.margin-bottom--48 {
  margin-bottom: 48px;
}
.margin-bottom--64 {
  margin-bottom: 64px;
}
.margin-bottom--96 {
  margin-bottom: 96px;
}
.margin-inline--auto {
  margin-inline: auto;
}
.margin-inline--0 {
  margin-inline: 0;
}
.margin-inline--4 {
  margin-inline: 4px;
}
.margin-inline--8 {
  margin-inline: 8px;
}
.margin-inline--16 {
  margin-inline: 16px;
}
.margin-inline--24 {
  margin-inline: 24px;
}
.margin-inline--32 {
  margin-inline: 32px;
}
.margin-inline--48 {
  margin-inline: 48px;
}
.margin-inline--64 {
  margin-inline: 64px;
}
.margin-inline--96 {
  margin-inline: 96px;
}
.margin-inline-end--0 {
  margin-inline-end: 0;
}
.margin-inline-end--4 {
  margin-inline-end: 4px;
}
.margin-inline-end--8 {
  margin-inline-end: 8px;
}
.margin-inline-end--16 {
  margin-inline-end: 16px;
}
.margin-inline-end--32 {
  margin-inline-end: 32px;
}
.margin-inline-end--48 {
  margin-inline-end: 48px;
}
.margin-inline-end--64 {
  margin-inline-end: 64px;
}
.margin-inline-end--96 {
  margin-inline-end: 96px;
}
.margin-inline-start--0 {
  margin-inline-start: 0;
}
.margin-inline-start--4 {
  margin-inline-start: 4px;
}
.margin-inline-start--8 {
  margin-inline-start: 8px;
}
.margin-inline-start--16 {
  margin-inline-start: 16px;
}
.margin-inline-start--32 {
  margin-inline-start: 32px;
}
.margin-inline-start--48 {
  margin-inline-start: 48px;
}
.margin-inline-start--64 {
  margin-inline-start: 64px;
}
.margin-inline-start--96 {
  margin-inline-start: 96px;
}
.margin-left--0 {
  margin-left: 0;
}
.margin-left--4 {
  margin-left: 4px;
}
.margin-left--8 {
  margin-left: 8px;
}
.margin-left--16 {
  margin-left: 16px;
}
.margin-left--32 {
  margin-left: 32px;
}
.margin-left--48 {
  margin-left: 48px;
}
.margin-left--64 {
  margin-left: 64px;
}
.margin-left--96 {
  margin-left: 96px;
}
.margin-right--0 {
  margin-right: 0;
}
.margin-right--4 {
  margin-right: 4px;
}
.margin-right--8 {
  margin-right: 8px;
}
.margin-right--16 {
  margin-right: 16px;
}
.margin-right--32 {
  margin-right: 32px;
}
.margin-right--48 {
  margin-right: 48px;
}
.margin-right--64 {
  margin-right: 64px;
}
.margin-right--96 {
  margin-right: 96px;
}
.margin-top--0 {
  margin-top: 0;
}
.margin-top--4 {
  margin-top: 4px;
}
.margin-top--8 {
  margin-top: 8px;
}
.margin-top--16 {
  margin-top: 16px;
}
.margin-top--32 {
  margin-top: 32px;
}
.margin-top--48 {
  margin-top: 48px;
}
.margin-top--64 {
  margin-top: 64px;
}
.margin-top--96 {
  margin-top: 96px;
}
.max-width--100 {
  max-width: 100%;
}
.max-width--sm-device {
  max-width: var(--sm-device-width);
}
.max-width--md-device {
  max-width: var(--md-device-width);
}
.max-width--lg-device {
  max-width: var(--lg-device-width);
}
.max-width--xl-device {
  max-width: var(--xl-device-width);
}
.max-width--xxl-device {
  max-width: var(--xxl-device-width);
}
.min-height--100vh {
  min-height: 100vh;
}
.mix-blend-mode--normal {
  mix-blend-mode: normal;
}
.mix-blend-mode--multiply {
  mix-blend-mode: multiply;
}
.mix-blend-mode--screen {
  mix-blend-mode: screen;
}
.mix-blend-mode--overlay {
  mix-blend-mode: overlay;
}
.mix-blend-mode--darken {
  mix-blend-mode: darken;
}
.mix-blend-mode--lighten {
  mix-blend-mode: lighten;
}
.object-fit--fill {
  object-fit: fill;
}
.object-fit--contain {
  object-fit: contain;
}
.object-fit--cover {
  object-fit: cover;
}
.object-fit--none {
  object-fit: none;
}
.object-fit--scale-down {
  object-fit: scale-down;
}
.opacity--0 {
  opacity: 0;
}
.opacity--01 {
  opacity: 0.1;
}
.opacity--02 {
  opacity: 0.2;
}
.opacity--03 {
  opacity: 0.3;
}
.opacity--04 {
  opacity: 0.4;
}
.opacity--05 {
  opacity: 0.5;
}
.opacity--06 {
  opacity: 0.6;
}
.opacity--07 {
  opacity: 0.7;
}
.opacity--08 {
  opacity: 0.8;
}
.opacity--09 {
  opacity: 0.9;
}
.opacity--1 {
  opacity: 1;
}
.order--1 {
  order: 1;
}
.order--2 {
  order: 2;
}
.order--3 {
  order: 3;
}
.order--4 {
  order: 4;
}
.order--5 {
  order: 5;
}
.order--6 {
  order: 6;
}
.order--7 {
  order: 7;
}
.order--8 {
  order: 8;
}
.order--9 {
  order: 9;
}
.order--10 {
  order: 10;
}
.order--11 {
  order: 11;
}
.order--12 {
  order: 12;
}
.outline-color--blue {
  outline-color: var(--blue);
}
.outline-color--green {
  outline-color: var(--green);
}
.outline-color--yellow {
  outline-color: var(--yellow);
}
.outline-color--orange {
  outline-color: var(--orange);
}
.outline-color--red {
  outline-color: var(--red);
}
.outline-color--pink {
  outline-color: var(--pink);
}
.outline-color--purple {
  outline-color: var(--purple);
}
.outline-color--black {
  outline-color: var(--black);
}
.outline-color--darkest-gray {
  outline-color: var(--darkest-gray);
}
.outline-color--dark-gray {
  outline-color: var(--dark-gray);
}
.outline-color--gray {
  outline-color: var(--gray);
}
.outline-color--light-gray {
  outline-color: var(--light-gray);
}
.outline-color--lighter-gray {
  outline-color: var(--lighter-gray);
}
.outline-color--lightest-gray {
  outline-color: var(--lightest-gray);
}
.outline-color--white {
  outline-color: var(--white);
}
.outline-style--none {
  outline-style: none;
}
.outline-style--solid {
  outline-style: solid;
}
.outline-style--dotted {
  outline-style: dotted;
}
.outline-style--dashed {
  outline-style: dashed;
}
.outline-style--double {
  outline-style: double;
}
.outline-style--groove {
  outline-style: groove;
}
.outline-style--ridge {
  outline-style: ridge;
}
.outline-style--inset {
  outline-style: inset;
}
.outline-style--outset {
  outline-style: outset;
}
.outline-width--0 {
  outline-width: 0;
}
.overflow--visible {
  overflow: visible;
}
.overflow--hidden {
  overflow: hidden;
}
.overflow--scroll {
  overflow: scroll;
}
.overflow--auto {
  overflow: auto;
}
.overflow-block--visible {
  overflow-block: visible;
}
.overflow-block--hidden {
  overflow-block: hidden;
}
.overflow-block--scroll {
  overflow-block: scroll;
}
.overflow-block--auto {
  overflow-block: auto;
}
.overflow-inline--visible {
  overflow-inline: visible;
}
.overflow-inline--hidden {
  overflow-inline: hidden;
}
.overflow-inline--scroll {
  overflow-inline: scroll;
}
.overflow-inline--auto {
  overflow-inline: auto;
}
.overflow-wrap--normal {
  overflow-wrap: normal;
}
.overflow-wrap--break-word {
  overflow-wrap: break-word;
}
.overflow-x--visible {
  overflow-x: visible;
}
.overflow-x--hidden {
  overflow-x: hidden;
}
.overflow-x--scroll {
  overflow-x: scroll;
}
.overflow-x--auto {
  overflow-x: auto;
}
.overflow-y--visible {
  overflow-y: visible;
}
.overflow-y--hidden {
  overflow-y: hidden;
}
.overflow-y--scroll {
  overflow-y: scroll;
}
.overflow-y--auto {
  overflow-y: auto;
}
.overscroll-behavior--auto {
  overscroll-behavior: auto;
}
.overscroll-behavior--auto {
  overscroll-behavior: auto;
}
.overscroll-behavior--contain {
  overscroll-behavior: contain;
}
.overscroll-behavior--none {
  overscroll-behavior: none;
}
.padding--0 {
  padding: 0;
}
.padding--4 {
  padding: 4px;
}
.padding--8 {
  padding: 8px;
}
.padding--16 {
  padding: 16px;
}
.padding--24 {
  padding: 24px;
}
.padding--32 {
  padding: 32px;
}
.padding--48 {
  padding: 48px;
}
.padding--64 {
  padding: 64px;
}
.padding--96 {
  padding: 96px;
}
.padding-block--0 {
  padding-block: 0;
}
.padding-block--4 {
  padding-block: 4px;
}
.padding-block--8 {
  padding-block: 8px;
}
.padding-block--16 {
  padding-block: 16px;
}
.padding-block--24 {
  padding-block: 24px;
}
.padding-block--32 {
  padding-block: 32px;
}
.padding-block--48 {
  padding-block: 48px;
}
.padding-block--64 {
  padding-block: 64px;
}
.padding-block--96 {
  padding-block: 96px;
}
.padding-inline--0 {
  padding-inline: 0;
}
.padding-inline--4 {
  padding-inline: 4px;
}
.padding-inline--8 {
  padding-inline: 8px;
}
.padding-inline--16 {
  padding-inline: 16px;
}
.padding-inline--24 {
  padding-inline: 24px;
}
.padding-inline--32 {
  padding-inline: 32px;
}
.padding-inline--48 {
  padding-inline: 48px;
}
.padding-inline--64 {
  padding-inline: 64px;
}
.padding-inline--96 {
  padding-inline: 96px;
}
.padding-top--0 {
  padding-top: 0;
}
.padding-top--4 {
  padding-top: 4px;
}
.padding-top--8 {
  padding-top: 8px;
}
.padding-top--16 {
  padding-top: 16px;
}
.padding-top--24 {
  padding-top: 24px;
}
.padding-top--32 {
  padding-top: 32px;
}
.padding-top--48 {
  padding-top: 48px;
}
.padding-top--64 {
  padding-top: 64px;
}
.padding-top--96 {
  padding-top: 96px;
}
.padding-bottom--0 {
  padding-bottom: 0;
}
.padding-bottom--4 {
  padding-bottom: 4px;
}
.padding-bottom--8 {
  padding-bottom: 8px;
}
.padding-bottom--16 {
  padding-bottom: 16px;
}
.padding-bottom--24 {
  padding-bottom: 24px;
}
.padding-bottom--32 {
  padding-bottom: 32px;
}
.padding-bottom--48 {
  padding-bottom: 48px;
}
.padding-bottom--64 {
  padding-bottom: 64px;
}
.padding-bottom--96 {
  padding-bottom: 96px;
}
.padding-start--0 {
  padding-inline-start: 0;
}
.padding-start--4 {
  padding-inline-start: 4px;
}
.padding-start--8 {
  padding-inline-start: 8px;
}
.padding-start--16 {
  padding-inline-start: 16px;
}
.padding-start--24 {
  padding-inline-start: 24px;
}
.padding-start--32 {
  padding-inline-start: 32px;
}
.padding-start--48 {
  padding-inline-start: 48px;
}
.padding-start--64 {
  padding-inline-start: 64px;
}
.padding-start--96 {
  padding-inline-start: 96px;
}
.padding-end--0 {
  padding-inline-end: 0;
}
.padding-end--4 {
  padding-inline-end: 4px;
}
.padding-end--8 {
  padding-inline-end: 8px;
}
.padding-end--16 {
  padding-inline-end: 16px;
}
.padding-end--24 {
  padding-inline-end: 24px;
}
.padding-end--32 {
  padding-inline-end: 32px;
}
.padding-end--48 {
  padding-inline-end: 48px;
}
.padding-end--64 {
  padding-inline-end: 64px;
}
.padding-end--96 {
  padding-inline-end: 96px;
}
.pointer-events--auto {
  pointer-events: auto;
}
.pointer-events--none {
  pointer-events: none;
}
.pointer-events--visiblePainted {
  pointer-events: visiblePainted;
}
.pointer-events--visibleFill {
  pointer-events: visibleFill;
}
.pointer-events--visibleStroke {
  pointer-events: visibleStroke;
}
.position--static {
  position: static;
}
.position--relative {
  position: relative;
}
.position--absolute {
  position: absolute;
}
.position--fixed {
  position: fixed;
}
.position--sticky {
  position: sticky;
}
.resize--none {
  resize: none;
}
.resize--both {
  resize: both;
}
.resize--horizontal {
  resize: horizontal;
}
.resize--vertical {
  resize: vertical;
}
.row-gap--4 {
  row-gap: 4px;
}
.row-gap--8 {
  row-gap: 8px;
}
.row-gap--16 {
  row-gap: 16px;
}
.row-gap--24 {
  row-gap: 24px;
}
.row-gap--32 {
  row-gap: 32px;
}
.row-gap--48 {
  row-gap: 48px;
}
.row-gap--64 {
  row-gap: 64px;
}
.row-gap--96 {
  row-gap: 96px;
}
.scroll-behavior--auto {
  scroll-behavior: auto;
}
.scroll-behavior--smooth {
  scroll-behavior: smooth;
}
.scroll-snap-align--none {
  scroll-snap-align: none;
}
.scroll-snap-align--start {
  scroll-snap-align: start;
}
.scroll-snap-align--center {
  scroll-snap-align: center;
}
.scroll-snap-align--end {
  scroll-snap-align: end;
}
.scroll-snap-stop--normal {
  scroll-snap-stop: normal;
}
.scroll-snap-stop--always {
  scroll-snap-stop: always;
}
.scroll-snap-type--none {
  scroll-snap-type: none;
}
.scroll-snap-type--mandatory {
  scroll-snap-type: mandatory;
}
.scroll-snap-type--proximity {
  scroll-snap-type: proximity;
}
.template-columns--2 {
  grid-template-columns: repeat(2, 1fr);
}
.template-columns--3 {
  grid-template-columns: repeat(3, 1fr);
}
.template-columns--4 {
  grid-template-columns: repeat(4, 1fr);
}
.template-columns--5 {
  grid-template-columns: repeat(5, 1fr);
}
.template-columns--6 {
  grid-template-columns: repeat(6, 1fr);
}
.template-columns--7 {
  grid-template-columns: repeat(7, 1fr);
}
.template-columns--8 {
  grid-template-columns: repeat(8, 1fr);
}
.template-columns--9 {
  grid-template-columns: repeat(9, 1fr);
}
.template-columns--10 {
  grid-template-columns: repeat(10, 1fr);
}
.template-columns--11 {
  grid-template-columns: repeat(11, 1fr);
}
.template-columns--12 {
  grid-template-columns: repeat(12, 1fr);
}
.text-align--left {
  text-align: left;
}
.text-align--right {
  text-align: right;
}
.text-align--center {
  text-align: center;
}
.text-align--justify {
  text-align: justify;
}
.text-transform--none {
  text-transform: none;
}
.text-transform--capitalize {
  text-transform: capitalize;
}
.text-transform--uppercase {
  text-transform: uppercase;
}
.text-transform--lowercase {
  text-transform: lowercase;
}
.width--100 {
  width: 100%;
}
.writing-mode--horizontal-tb {
  writing-mode: horizontal-tb;
}
.writing-mode--vertical-rl {
  writing-mode: vertical-rl;
}
.writing-mode--vertical-lr {
  writing-mode: vertical-lr;
}
.z-index--auto {
  z-index: auto;
}
.z-index--0 {
  z-index: 0;
}
.z-index--1 {
  z-index: 1;
}
.z-index--4 {
  z-index: 4;
}
.z-index--8 {
  z-index: 8;
}
.z-index--16 {
  z-index: 16;
}
.z-index--24 {
  z-index: 24;
}
.z-index--32 {
  z-index: 32;
}

/* Elevación 0 */
.elevation--0 {
  box-shadow: none;
}

/* Elevación 1 */
.elevation--1 {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

/* Elevación 2 */
.elevation--2 {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* Elevación 3 */
.elevation--3 {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

/* Elevación 4 */
.elevation--4 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

/* Elevación 5 */
.elevation--5 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14),
    0 1px 14px 0 rgba(0, 0, 0, 0.12);
}

/* Elevación 6 */
.elevation--6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

/* Elevación 7 */
.elevation--7 {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2),
    0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
}

/* Elevación 8 */
.elevation--8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Elevación 9 */
.elevation--9 {
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2),
    0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12);
}

/* Elevación 10 */
.elevation--10 {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2),
    0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12);
}
