/**
 * This section will be used to reset the default browser styles,
 * to avoid installing normalizer library.
 *
 * @format
 */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
}
sup {
  font-family: var(--font-family-mono);
}
address {
  font-style: normal;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type='search'] {
  appearance: textfield;
  outline-offset: -2px;
}

code {
  font-family: var(--font-family-mono);
  color: var(--pink);
  font-size: 85%;
}
